[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "1.0.3"
landez = "2.5.0"
rdflib = "4.2.2"
rdflib-sqlalchemy = "0.3.8"
pyyaml = "5.1.1"
pyparsing = "2.4.0"
flask-cors = "3.0.8"

[requires]
python_version = "3.7"
