[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
gunicorn = "*"

[packages]
flask = "*"
landez = "*"
flask-cors = "*"
owlready2 = "*"
pillow = "*"
mapmaker = {file = "https://github.com/dbrnz/flatmap-maker/releases/download/1.0.0b1/mapmaker-1.0.0b1-py3-none-any.whl"}

[requires]
python_version = "3.8"
