[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-httpdomain = "*"

[packages]
flask = "*"
gunicorn = "*"
landez = "*"
flask-cors = "*"
owlready2 = "*"
mapmaker = {file = "https://github.com/dbrnz/flatmap-maker/releases/download/v1.2.0b2/mapmaker-1.2.0b2-py3-none-any.whl"}

[requires]
python_version = "3.8"
